workflows/1XisIGcYd0oswdUu.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T09:47:23.770Z",
  "id": "1XisIGcYd0oswdUu",
  "isArchived": false,
  "meta": null,
  "name": "booking",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "book",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        560,
        64
      ],
      "id": "868b95dc-197d-42af-8a5b-b4bb23a4b352",
      "name": "Webhook",
      "webhookId": "43d3e193-73bd-475e-b23e-de3f435eb48f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body.json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        64
      ],
      "id": "4343757b-dabf-4732-b8d0-df2931f50222",
      "name": "HTTP Request",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MGynkIyTjqAnqepi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        64
      ],
      "id": "51c96f6a-f561-41b8-ad64-fb3032f9b97f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0",
          "mode": "list",
          "cachedResultName": "booking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-z2N_jYL4dw3gAQr7Hh8amh-KI7PwEjGW3cljGb36B0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.start.dateTime.toDateTime().format('dd-MM-yyyy HH:mm') }}",
            "Title": "={{ $json.summary }} - {{ $json.description }}",
            "IsBook": "Completed",
            "SDT": "={{ $node['Webhook'].data.body.json.phone }}",
            "CalendarId": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SDT",
              "displayName": "SDT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CalendarId",
              "displayName": "CalendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IsBook",
              "displayName": "IsBook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IsEventCancel",
              "displayName": "IsEventCancel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1168,
        288
      ],
      "id": "d37abc9e-af8a-452e-beeb-07bb85e932a9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F65TN23JnatIuUbP",
          "name": "my sheet"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-09T09:47:23.770Z",
      "updatedAt": "2025-08-09T09:47:23.770Z",
      "role": "workflow:owner",
      "workflowId": "1XisIGcYd0oswdUu",
      "projectId": "XWfpQOL9AgFCyc6x"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-17T05:51:56.348Z",
  "versionId": "022b55d8-2d2c-463d-a220-66bfc0ccd1a3"
}