workflows/HBwuwiTjV6VABJpn.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadImage": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "UploadImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-09T09:47:23.657Z",
  "id": "HBwuwiTjV6VABJpn",
  "isArchived": false,
  "meta": null,
  "name": "chatboxmes_v2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "a00aa07b-92f8-4130-b8d2-fbv2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        160
      ],
      "id": "a991181e-66db-4039-b9ea-db5455ae1f45",
      "name": "Webhook",
      "webhookId": "a00aa07b-92f8-4130-b8d2-6664fae54e3e"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        -144,
        -48
      ],
      "id": "da3bee1e-dd1d-462b-b308-2d6c0cfaa141",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/650808194786249/messages/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAaKackdsYsBPOtTwHlmcwuNKVAxHIE2L2xSVZALIZAf8cZB42WcrwPIQJgjRloRsFZCeRMuW1ZBEsLocHGy2IAKzW2XLwpbzuyDZC6QE6Fg3iXriVlThPxrazDojh4QXBPEIrJEwc9SyiDyQKu0LhPUnwUDLlszbW3J4KFB64ZA0eSaoj9kjW8UHTvTXtBvCY4MZACAA2zE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        896
      ],
      "id": "dbbf0ad8-1388-4d23-9a51-8739ab91444d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dichvun8n.click/webhook/factory-faq",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        272
      ],
      "id": "4a5edf00-732b-46cd-8de5-aecc1579e9d8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94b1dae6-3f53-41b5-9742-b396e55e2424",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "18b4c376-b715-4fec-8310-fae80ec0241d",
              "name": "reply",
              "value": "={{$node[\"Webhook\"].data.body.entry[0].messaging[0].sender.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        272
      ],
      "id": "71015f8e-7850-4657-9ca4-d9489ac1207a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -256,
        512
      ],
      "id": "68212cc3-6b41-43b1-bb51-9829ab4efe75",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "let html = $input.first().json.name;\n\n  // Replace line breaks\n  html = html.replace(/<\\s*br\\s*\\/?>/gi, '\\n');\n\n  // Paragraphs\n  html = html.replace(/<\\s*p\\s*>/gi, '\\n\\n').replace(/<\\s*\\/p\\s*>/gi, '');\n\n  // Bold/Italic\n  html = html.replace(/<\\s*b\\s*>|<\\s*strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*\\/b\\s*>|<\\s*\\/strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*i\\s*>|<\\s*em\\s*>/gi, '*');\n  html = html.replace(/<\\s*\\/i\\s*>|<\\s*\\/em\\s*>/gi, '*');\n\n  // Links\n  html = html.replace(/<a\\s+href=\"(.*?)\">(.*?)<\\/a>/gi, '[$2]($1)');\n\n  // List items\n  html = html.replace(/<\\s*ul\\s*>/gi, '\\n').replace(/<\\s*\\/ul\\s*>/gi, '');\n  html = html.replace(/<\\s*li\\s*>/gi, '- ').replace(/<\\s*\\/li\\s*>/gi, '\\n');\n\n  // Remove remaining tags\n  html = html.replace(/<[^>]*>/g, '');\n  while(html.includes('\\n\\n\\n')){\n    html = html.replace('\\n\\n', '\\n');\n  }\n  return {data: {\n    recipient:{\n        \"id\":`${$input.first().json.reply}`\n      },\n      message:{\n        text: html.trim()\n      } \n  }};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        512
      ],
      "id": "198eeb8f-483f-4139-8234-e408871d897c",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Giả sử input HTML nằm trong items[0].json.html\n// hoặc bạn có thể chỉnh lại theo field bạn lưu\n// Giả sử input HTML nằm trong items[0].json.html\n// hoặc bạn có thể chỉnh lại theo field bạn lưu\n// Giả sử input HTML nằm trong items[0].json.html\n// hoặc bạn có thể chỉnh lại theo field bạn lưu\nconst html = $input.first().json.output;\n\nconst regex = /Sản phẩm\\s+(.+?)\\s*-\\s*Giá\\s*([\\d.]+)\\s*VNĐ[\\s\\S]*?Công dụng:\\s*(.*?)\\s*(?:<br\\/?>|<\\/li>)[\\s\\S]*?(?:href=['\"]|Link sản phẩm:?\\s*)(https?:\\/\\/[^\\s'\">]+)[\\s\\S]*?(?:src=['\"]|Hình Ảnh:\\s*)(https?:\\/\\/[^\\s'\">]+)/gi;\n\nconst products = [];\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  products.push({\n    name: match[1].trim(),\n    price: match[2].trim(),\n    description: match[3].trim(),\n    link: match[4].trim(),\n    image: match[5].trim(),\n  });\n}\nif(products.length < 1){\n  return {json:{\n    name: \"\",\n    description: html,\n    reply: $input.first().json.reply\n  }}\n}\nreturn products.map(p => ({ json: p }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        272
      ],
      "id": "75eb0aef-f4d9-40c3-90c1-e7df31cfc94c",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nreturn {data: {\n    recipient:{\n        \"id\":`${$input.first().json.reply}`\n      },\n     message:{\n       \"attachment\": {\n          \"type\": \"template\",\n          \"payload\": {\n             \"template_type\": \"media\",\n             \"elements\": [\n                {\n                   \"media_type\": \"image\",\n                   \"attachment_id\": `${$input.first().json.attachment_id}`\n                }\n             ]\n          }\n        }\n      },\n        //\"payload\": {\n         //\"template_type\": \"media\",\n         //\"elements\": [\n           // {\n               //\"media_type\": \"<image|video>\",\n               //\"attachment_id\": `${$input.first().json.attachment_id}`\n            //}\n        // ]\n      //}\n  }};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        256
      ],
      "id": "e7060cbe-ab89-4c5b-8ba1-fec0898d5774",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/650808194786249/message_attachments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAaKackdsYsBPOtTwHlmcwuNKVAxHIE2L2xSVZALIZAf8cZB42WcrwPIQJgjRloRsFZCeRMuW1ZBEsLocHGy2IAKzW2XLwpbzuyDZC6QE6Fg3iXriVlThPxrazDojh4QXBPEIrJEwc9SyiDyQKu0LhPUnwUDLlszbW3J4KFB64ZA0eSaoj9kjW8UHTvTXtBvCY4MZACAA2zE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"image\",\n      \"payload\": {\n        \"url\": \"{{ $json.image }}\",\n        \"is_reusable\": true\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        256
      ],
      "id": "e8c449f0-6bcf-436a-b466-dc1b1469ac05",
      "name": "UploadImage"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "500312b2-fa68-437e-80f1-bf6a7eeb5c4b",
              "name": "attachment_id",
              "value": "={{ $json.attachment_id }}",
              "type": "string"
            },
            {
              "id": "2df8099a-569a-4905-acf3-928bf4edc7c9",
              "name": "reply",
              "value": "={{ $node['Edit Fields'].json.reply }}",
              "type": "string"
            },
            {
              "id": "64b01cee-9a09-404d-84bd-f390fbd78b5d",
              "name": "name",
              "value": "={{ $node['Code'].json.name }} - Giá: {{ $node['Code'].json.price}} VNĐ\nLink: {{ $node['Code'].json.link}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        256
      ],
      "id": "ceee98e0-7aeb-4210-a8a4-ddd6c001796a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        256
      ],
      "id": "d6811985-a4cd-4cb1-ab7d-65e8699908e9",
      "name": "Wait",
      "webhookId": "c46f23e5-4536-4f22-a675-b11e605cb391"
    },
    {
      "parameters": {
        "jsCode": "let html = $input.first().json.description;\n\n  // Replace line breaks\n  html = html.replace(/<\\s*br\\s*\\/?>/gi, '\\n');\n\n  // Paragraphs\n  html = html.replace(/<\\s*p\\s*>/gi, '\\n\\n').replace(/<\\s*\\/p\\s*>/gi, '');\n\n  // Bold/Italic\n  html = html.replace(/<\\s*b\\s*>|<\\s*strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*\\/b\\s*>|<\\s*\\/strong\\s*>/gi, '**');\n  html = html.replace(/<\\s*i\\s*>|<\\s*em\\s*>/gi, '*');\n  html = html.replace(/<\\s*\\/i\\s*>|<\\s*\\/em\\s*>/gi, '*');\n\n  // Links\n  html = html.replace(/<a\\s+href=\"(.*?)\">(.*?)<\\/a>/gi, '[$2]($1)');\n\n  // List items\n  html = html.replace(/<\\s*ul\\s*>/gi, '\\n').replace(/<\\s*\\/ul\\s*>/gi, '');\n  html = html.replace(/<\\s*li\\s*>/gi, '- ').replace(/<\\s*\\/li\\s*>/gi, '\\n');\n\n  // Remove remaining tags\n  html = html.replace(/<[^>]*>/g, '');\n  while(html.includes('\\n\\n\\n')){\n    html = html.replace('\\n\\n', '\\n');\n  }\n  return {data: {\n    recipient:{\n        \"id\":`${$input.first().json.reply}`\n      },\n      message:{\n        text: html.trim()\n      } \n  }};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        592
      ],
      "id": "bf75a0f2-8717-4da6-9dcc-cc4d8d082448",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "202dde71-ea66-463b-8506-3fbdec825132",
              "leftValue": "={{$json.name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        272
      ],
      "id": "444f866b-2b48-480a-8316-ab1250369108",
      "name": "If"
    }
  ],
  "pinData": {
    "Webhook": []
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-09T09:47:23.657Z",
      "updatedAt": "2025-08-09T09:47:23.657Z",
      "role": "workflow:owner",
      "workflowId": "HBwuwiTjV6VABJpn",
      "projectId": "XWfpQOL9AgFCyc6x"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-22T04:17:51.417Z",
  "versionId": "ddfcc6eb-3829-4c41-a6c0-1bb684b1cf2a"
}